@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
.page{
    background-color: #2A2C2F;
    width: 100%;
    height: 100%;
}

.header{
    margin: 28px 48px 56px;
    display: flex;
    justify-content: space-between;
}

.header__logo{
    width: 176px;
    height: 52px;
    margin: 28px 0 0 48px;
}

.header__lang-links{
    margin-top: 46px;
    margin-right: 0;
}

.header__lang-link{
    width: 39px;
    height: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 18px;
}

.header__lang-link:last-child{
    margin-right: 0;
}

.header__lang-link_active{
    text-decoration: underline;
}

.content{
    display: flex;
    width: 100%;
}

.lead {
    padding: 0 148px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.lead__title{
    margin: 0 auto 0;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    width: 720px;
    height: 200px;
}

.lead__subtitle{
    margin: 64px auto 32px;
    color:#FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    width: 640px;
    height: 72px;
}

.lead__picture{
    margin: 0 auto 0;
}

.lead__image{
    width: 984px;
    width: 100%;
    height: 615px;
    object-fit: contain;
    display: block;
}

.lead__caption{
   color: #FFFFFF;
   font-family: Inter;
   font-size: 10px;
   font-weight: 400;
   line-height: 14px;
   letter-spacing: 0.15em;
   text-transform: uppercase;
   text-align: left;
   margin: 8px 0 0;
   width: 158px;
   height: 14px;
   align-self: flex-start;
}


