.place__url-heading{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #AAAAAA;
    margin: 0 0 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    
}

@media screen and (max-width: 665px) {
    .place__url-heading{
        margin-left: 16px;
    }
}

@media screen and (max-width: 320px) {
    .place__url-heading{
        margin: 0 16px;
    }
}